@import url('https://fonts.googleapis.com/css2?family=Cambo&family=Sen:wght@400..800&display=swap');
/*cambo and sen font urls from google*/

@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
/*instrument sans*/
 
:root{
  /*colour palette*/ 

  --neautral1: #EDE6DF;
  --burntred: #7E170D;
  --burntcocoa: #372111;
  --honeygold: #D19555;
  --sunlithoney: #ebce79;

  /*fonts*/
  --realmore: "Instrument Sans", sans-serif; 
  --realHeadings: "Cambo", serif;
  --realParagraph: "Sen", sans-serif;

}

::-webkit-scrollbar{
  display: none;
}

/*----------------------------------Animations---------------------------------------------------*/

@keyframes fade-up{ 
  0%{
    opacity: 0;
    transform: translateY(50px) scale(0.9);
  }

  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fadedown{
  0%{
    opacity: 0;
    transform: translateY(-30px) scale(0.8);
  }

  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes carousel{ /*for the gallery images*/
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
}

/* === LOADING SCREEN ==== */
#app-loader {
    position: fixed;
    inset: 0;
    background-color: #EDE6DF;

    /* PIXEL GRID OVERLAY */
    background-image: 
        linear-gradient(rgba(0,0,0,0.04) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0,0,0,0.04) 1px, transparent 1px);

    background-size: 6px 6px;

    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 0.6s ease, visibility 0.6s ease;
}

#app-loader.hidden {
    opacity: 0;
    visibility: hidden;
}

.loader-content {
    text-align: center;
    animation: float 1.6s ease-in-out infinite;
    font-size: 30px;
    color: #111;
}

.loader-logo {
    width: 450px;
    margin-bottom: 16px;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-4px); }
}
/*-------------------------------------- For all devices -----------------------------------------*/

*{
  margin: 0;
  padding:0;
}

body{
  background-color: var(--neautral1);
}

a{
  text-decoration: none;
}

.active{
  text-decoration: underline;
}

hr{
  border: none;
  border-bottom: 1px solid var(--burntcocoa);
  line-height: 0.1em;
}

h1{
  font-family: var(--realHeadings);
  font-weight: 500;
  color: var(--burntred);
  text-align: center;
}

h2, h3{
  font-family: var(--realHeadings);
  color: var(--burntred);
}

h4{
  font-family: var(--realParagraph);
  color: var(--burntcocoa);
}

p{
  font-family: var(--realParagraph);
  color: var(--burntcocoa);
  font-weight: 500;
}

header{
  padding: 16px;
  position: sticky;
  top: 0;
  animation: fadedown 0.7s;
  background-image: linear-gradient(to bottom, rgb(237, 230, 223), rgb(237, 230, 223), rgba(237, 230, 223, 0.7), rgba(237, 230, 223, 0.1));
  display: grid;
  justify-content: space-evenly;
  z-index: 7777;

  .logoname{
    display: flex;
    align-self: center;
  }
  
  .navbar{
    align-self: center;
    display: flex;
    list-style-type: none;
    justify-content: space-between; 

    li{
      font-family: var(--realParagraph);
      font-weight: 700;
      font-optical-sizing: auto;
    }

    a{
      color: var(--burntcocoa);
    }
  }
  
  .searchbar{
    display: grid;
    align-self: center;
    grid-template-columns: 1fr;

    input{
      font-family: var(--realParagraph);
    }

    .search-row{
      display: flex;
      grid-column: 1;
      align-items: self-end;
      
      #submitSearch{
        display: none;
      }
    }
  }
}

main{
  .heromain{
    animation: fade-up 0.7s;

    .heroone{
      position: absolute;
    }

    .herotwo{
      position: absolute;
      text-align: right;
    }
  }

  .imageoverlay{
    position: relative;

    img{
      position: absolute;
      z-index: -88888;
    }

    h1{
      position: absolute;
      z-index: -99999;
    }
  }

  .briefabout{
    display: flex;
    text-align: right;
    align-content: center;
    justify-content: space-evenly;

    img{
      align-self: center;
    }

    div{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    a{
      font-family: var(--realmore);
      color: var(--burntred);
      font-weight: 700;
      text-decoration: underline;
    }
  }

  .whyus{
    text-align: center;

    .chairstraight{
      align-self: center;
    }

    p{
      text-align: justify;
    }

    .realfeatures{
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto;
      justify-content: space-evenly;
    }

    .realqualities{
      display: grid;
      align-content: space-between;
    }
  }

  .realgoals{
    h2{ /* our goal text style*/
      width: 100%; 
      text-align: left; 
      border-bottom: 1px solid var(--burntcocoa); 
      line-height: 0.1em;
    } 

    h2 span{ 
      background:var(--neautral1); 
    }

    p{
      text-align: justify;
    }

    .realmissioncontents{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .realvision{
    p{
      text-align: justify;
    }

    h3{
      width: 100%; 
      text-align: right; 
      border-bottom: 1px solid var(--burntcocoa); 
      line-height: 0.1em;
      margin: 16px 0px 20px;  
    }

    h3 span { 
      background:var(--neautral1); 
      padding: 0 16px; 
    }

    .realflexvision{
      display: flex;

      img{
        align-self: center;
      }

      h3{
        border: none;
        text-align: left;
      }
    }
  }

  .whatwedo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .maingalleries{
    overflow: hidden;

    h2{
      text-align: center; 
      border-bottom: 1px solid var(--burntcocoa); 
      line-height: 0.1em;
      margin: 16px 0 20px;
    } 

    h2 span { 
      background:var(--neautral1); 
      padding:0 16px; 
    }

    .photogallery{
      gap: 20px;
      display: flex;
      width: max-content;
      animation: carousel 20s infinite alternate;
      /* IMAGES*/
      img{
        object-fit:cover;
        width: 300px;
        height: 200px;
        padding: 10px;
        flex-shrink: 0;
        border-radius: 20px;
      }
    }
  }
}

footer{
  background-color: var(--burntcocoa);
  animation: fade-up 0.7s ease;

  h3{
    color: var(--honeygold);
  }

  p{

    color: var(--honeygold);
  }

  .mailncall{
    display: grid;

    h3{
      align-self: center;
    }
  }

  .contactdivide{
    display: flex;
    align-self: center;
  }

  .footercontents{
    display: flex;
    justify-content: space-between;

    .contactborder{
      border-left: 2px solid var(--honeygold);
      p{
        padding-left: 5px;
      }
    }

    img{
      align-self: center;
    }
  }
}

/*--------------------------------------------Mobile---------------------------------------------*/
@media (min-width: 350px) and (max-width: 620px){

  h1{ /*hero page main text*/
    font-size: 70px;
  }

  h2{ /*Main heading*/
    font-size: 30px;
  }

  h3{ /*heading 2*/
    font-size: 25px;
  }

  h4{ /*subheading*/
    font-size: 13px;
  }

  p{ /*paragraphs*/
    font-size: 12px;
    line-height: 15px;
  }

  .logoname{
    grid-column: 1;

    img{
      width: 144px;
      height: 35px;
    }
  }

  .searchbar{
    grid-column: 2;

    .search-row{
      img{
        height: 33px;
        width: 33px;
      }

      input{
        height: 30px;
        border: 1px solid var(--burntcocoa);
        box-shadow: inset var(--burntcocoa) 1px 1px 2px;
        border-radius: 20px;
        padding: 9px;
        width: 150px;
      }
    }
  }

  .navbar{
    grid-column: 1/3;
    font-size: 13px;
    margin: 10px;
  }

  main{
    /*hero part of the mainpage*/
    .heromain{
      height: 290px;

      p{
        font-size: 11px;
        font-weight: 600;
      }

      .heroone{
        top: 320px;
        left: 5%;
        margin: 10px;
      }

      .herotwo{
        top: 330px;
        left: 65%;
      }
    }
    
    .imageoverlay{
      img{
        width: 175px;
        height: auto;
        top: 25px;
        left: 30%;
      }

      h1{
        line-height: 55px;
        font-weight: 500;
      }
    }

    /*about section*/ 
    .briefabout{
      height: 310px;
      margin: 16px;

      img{
        height: 193px;
      }

      div{
        margin-left: 16px;
      }

      a{
        font-size: 13px;
        font-weight: 700;
      }
    }

    /*why choose us section*/
    .whyus{
      margin: 16px;
      height: 430px;

      img{
        height: 25px;
      }

      .chairstraight{
        height: 175px;
      }

      p{
        font-size: 10px;
        margin-top: 10px;
      }

      .realfeatures{
        margin-top: 16px;
        height: 300px;
      }
    }

    /*our goals section*/
    .realgoals{

      h2{ /* our goal text style*/
        margin: 16px 0px 20px; 
      } 

      h2 span { 
        padding:0 16px; 
      }

      .realmissioncontents{
        height: 200px;
        margin: 16px;

        img{
          width:160px;
          height: 90px;
          border-radius: 20px;
        }

        div{
          margin-left: 10px;
        }
      }
    }

    /*vision part*/
    .realvision{
      .realflexvision{
        box-shadow: 2px 1px 2px rgb(186, 186, 186);
        padding: 16px;
        border-radius: 10px;
        margin: 16px;

        img{
          height: 70px;
        }

        h3{
          font-size: 20px;
          line-height: 17px;
          margin: 0 0 16px;
        }

        div{
          margin: 16px;
        }
      }
    }

    .whatwedo{
      height: 220px;
      margin: 0 16px 0;

      img{
        width: 330px;
      }

      p{
        margin: 16px 0 16px;
      }
    }

    .maingalleries{
      .photogallery img{
        width: 220px;
        height: 150px;
      }
      h2{
        margin: 10px 0px 20px; 
      } 
    }
  }

  footer{
    height: 430px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    background-image: 
    radial-gradient(250px circle at 100% 0%, var(--burntred), var(--burntred), transparent 90%),
    radial-gradient(300px circle at 5% 120%, var(--burntred),var(--burntred), transparent 90%);
    display: grid;
    grid-template-columns: 5% auto auto 5%;
    grid-template-rows: 15% auto auto;
    grid-template-areas:
    ". . . ."
    ". content content ."
    "credit credit credit credit";

    .footercontents{
      grid-area: content;
    
      img{
        padding-right: 10px;
        align-self: center;
        height: 30px;
      }

      .email{
        width: 30px;
        height: 24px;
      }

      .contactdivide{
        margin: 10px 0;
      }
    }

    .credit{
      grid-area: credit;
      text-align: center;
    }

    .viewothers{
      align-self: center;
      margin-left: 10px;

      img{
        border: none;
      }

      .viewlocation, .viewproducts{
        background-color: var(--sunlithoney);
        border-radius: 15px;
        padding: 7px;
        margin: 5px 0;
        text-align: center;
        border: var(--burntred) 1px solid;

        p{
          color: var(--burntred);
          text-decoration: underline;
        }
      }
    }

    .formfill{ /*certain displays like these are not shown on mobile wireframe hence hidden on mobile*/
      display: none;
    }

    .contactustitle{
      display: none;
    }
  }
}

/*---------------------------------- For tablet and desktop --------------------------------------*/
@media (min-width:621px){

  header{ /*header layout is different from mobile*/
    grid-template-columns: auto auto auto auto;
    grid-template-areas:
    "logo nav nav search";

    .logoname{
      grid-area: logo;
    }

    .navbar{
      grid-area: nav;
    }

    .searchbar{ /*Searchbar is hidden unless triggered by click*/
      grid-area: search;
      position: relative;

      .search-row{
        img{
          cursor: pointer;
        }

        #searcharea{
          width: 0px;
          overflow: hidden;
          transition: 0.7s all ease;
          position: relative;
          border: none;
          background-color: var(--neautral1);
          height: 40px;
        }

        #searcharea.show{
          font-family: var(--realParagraph);
          width: 350px;
          padding: 9px;
          border: 1px solid var(--burntcocoa);
          box-shadow: inset var(--burntcocoa) 1px 1px 2px;
          background-color: #fff;
          border-radius: 20px;
        }
      }
    }
  }

  footer{ /*footer layout is also different from mobile*/
    display: grid;
    grid-template-columns: 10% auto auto 10%;
    grid-template-rows: 10% auto auto;
    grid-template-areas:
    ". . . ."
    ". contactus contactus ."
    ". content content ."
    "credit credit credit credit";
  }

  .contactustitle{
    grid-area: contactus;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2{
      color: var(--honeygold);
    }
  }

  .viewothers{ /*Certain displays like this are not shown on laptop*/
    display: none;
  }

  .footercontents{
    grid-area: content;

    .formfill{
      display: grid;

      input, textarea{
        border-radius: 15px;
        font-family: var(--realParagraph);
        border: none;
        box-shadow: var(--burntcocoa) inset 2px 1px 2px;
        margin: 10px 0;
      }

      input::placeholder{
        color: gray;
      }

      textarea{
        min-height: 110px;
        max-height: 220px;
        resize: vertical;
      }

      .submit{
        text-align: center;
        input{
          font-size: 25px;
          margin: 10px;
          color: var(--honeygold);
          font-family: var(--realHeadings);
          font-weight: 600;
          border: var(--burntred);
          background-color:transparent;
          text-decoration: underline;
          box-shadow: none;
        }

        input:hover{
          text-shadow: 2px 1px 3px var(--honeygold);
        }

        input:active{
          color: var(--burntcocoa);
        }
      }
    }
  }

  .contactustitle{
    img{
      border: none;
    }
  }

  .credit{
    grid-area: credit;
    text-align: center;
    font-size: 17px;
    margin: 16px;
  }
}


/* ----------------------------------------------- TABLET ------------------------------------------------------------ */
@media (min-width:621px) and (max-width: 1023px){
  
  h1{ /*hero page main text*/
    font-size: 120px;
  }

  h2{ /*Main heading*/
    font-size: 40px;
  }

  h3{ /*heading 2*/
    font-size: 30px;
  }

  h4{ /*subheading*/
    font-size: 25px;
  }

  li, p{ /*paragraphs*/
    font-size: 15px;
    line-height: 20px;
  }

  header{

    .logoname{
      img{
        width: 232px;
        height: 51px;
      }
    }

    .searchbar{
      img{
        height: 33px;
        width: 33px;
      }
    }
  }

  main{
    .heromain{
      margin: 32px;
      height: 450px;

      p{
        font-size: 17px;
        font-weight: 700;
        line-height: 25px;
      }

      .heroone{
        top: 500px;
        left: 9%;
      }

      .herotwo{
        top: 500px;
        left: 69%;
      }
    }
    
    .imageoverlay{
      img{
        width: 299px;
        height: auto;
        top: 50px;
        left: 30%;
      }

      h1{
        line-height: 100px;
        font-weight: 500;
      }
    }

    .briefabout{
      height: 430px;
      margin: 32px;

      img{
        height: 361px;
      }

      div{
        margin-left: 16px;
      }

      a{
        font-size: 20px;
        font-weight: 700;
      }
    }

    .whyus{
      margin: 32px;
      height: 700px;

      img{
        height: 49px;
      }

      .chairstraight{
        height: auto;
        width: 250px;
      }

      h2{
        margin-top: 32px;
      }

      h4{
        margin-bottom: 10px;
      }

      .realfeatures{
        height: 530px;
      }
    }

    .realgoals{
      h2{ /* our goal text style*/
        margin: 16px 0px 32px; 
      } 

      h2 span { 
        padding:0 16px; 
      }

      .realmissioncontents{
        height: 300px;
        margin: 32px;

        img{
          width: 380px;
          height: 188px;
          border-radius: 20px;
        }

        div{
          margin-left: 32px;
        }
      }

      .realmission{
        margin-bottom: 16px;
      }
    }

    /*vision part*/
    .realvision{
      .realflexvision{
        box-shadow: 2px 1px 2px rgb(186, 186, 186);
        padding: 30px;
        border-radius: 10px;
        margin: 30px;

        img{
          height: 100px;
        }

        h3{
          font-size: 30px;
          line-height: 30px;
          margin: 0 0 32px;
        }

        div{
          margin: 30px;
        }
      }
    }

    .whatwedo{
      height: auto;
      margin: 32px;
      gap: 30px;

      img{
        width: 560px;
      }
    }
  }
  
  .maingalleries h2{
    margin-top: 30px;
    padding-top: 60px;
  }

  footer{
    height: 680px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-image: 
    radial-gradient(600px circle at 100% 30%, rgba(126, 23, 14), rgba(126, 23, 14), transparent 60%),
    radial-gradient(700px circle at 15% 100%, rgba(126, 23, 14),rgba(126, 23, 14),transparent 60%);
  }

  .contactustitle{
    img{
      height: 51px;
    }
  }

  .footercontents{
    img{
      padding-right: 10px;
      height: 46px;
    }

    .email{
      width: 46px;
      height: 36px;
    }

    .contactdivide{
      margin: 10px 0;
      p{
        margin-left: 5px;
      }
    }
  }

  .formfill{
    input, textarea{
      font-size: 17px;
      padding: 9px;
      min-width: 150px;
      max-width: 250px;
    }
  }
}

/*-------------------- Desktop -----------------------------------------*/
@media (min-width: 1024px){

  h1{
    font-size: 170px;
  }

  h2{
    font-size: 50px;
  }

  h3{
    font-size: 40px;
  }

  h4{
    font-size: 30px;
  }

  p, li{
    font-size: 18px;
    line-height: 35px;
  }

  hr{
    margin: 0 48px 0;
  }

  header{
    .logoname{
      img{
        width: 300px;
        height: 68px;
      }
    }

    .searchbar{
      img{
        height: 40px;
        width: 40px;
      }
    }
  }

  main{
    .heromain{
      margin: 48px;
      height: 610px;

      h1{
        line-height: 140px;
        font-weight: 500;
      }

      p{
        font-weight: 700;
        line-height: 30px;
      }

      .heroone{
        top: 650px;
        left: 9%;
      }

      .herotwo{
        top: 658px;
        left: 75%;
      }
    }
    
    .imageoverlay{
      img{
        width: 430px;
        height: auto;
        top: 70px;
        left: 30%;
      }
    }

    .briefabout{
      height: 520px;
      margin: 48px;

      img{
        height: 499px;
      }

      div{
        margin-left: 48px;
        width: 800px;
      }

      a{
        font-size: 25px;
      }
    }

    .whyus{
      margin: 48px;
      height: 900px;

      img{
        height: 60px;
      }

      .chairstraight{
        height: 459px;
      }

      h4{
        margin-bottom: 10px;
      }

      .realfeatures{
        height: 700px;
      }

      .realqualities{
        div{
          width: 290px;
        }
      }
    }

    .realgoals{
      margin: 48px;

      h2{ /* our goal text style*/
        margin: 16px 0 16px; 
      } 

      h2 span { 
        padding:0 16px; 
      }

      .realmissioncontents{
        height: 500px;
        margin: 32px;

        img{
          width: 432px;
          height: 335px;
          border-radius: 20px;
        }

        div{
          margin-left: 32px;
          width: 870px;
        }
      }

      .realmission{
        margin-bottom: 16px;
      }
    }

    /*vision part*/
    .realvision{
      margin: 48px;

      .realflexvision{
        box-shadow: 3px 1px 4px rgb(186, 186, 186);
        padding: 48px;
        border-radius: 20px;
        margin: 48px;

        img{
          height: 140px;
        }

        h3{
          font-size: 45px;
          line-height: 40px;
        }

        div{
          margin: 48px;
        }
      }
    }

    .whatwedo{
      height: 550px;
      margin: 0 16px 0;

      img{
        width: 900px;
      }

      p{
        margin: 48px 0;
      }
    }
  }

  .photogallery{
    margin: 48px;
  }

  footer{
    height: 800px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-image: 
    radial-gradient(800px circle at 100% 30%, rgba(126, 23, 14), rgba(126, 23, 14), transparent 60%),
    radial-gradient(900px circle at 15% 100%, rgba(126, 23, 14),rgba(126, 23, 14),transparent 60%);
  }

  .contactustitle{
    img{
      height: 86px;
    }
  }

  .footercontents{
    img{
      padding-right: 25px;
      height: 60px;
    }

    .email{
      width: 55px;
      height: 50px;
    }

    .contactdivide{
      margin: 16px 0;

      p{
        margin-left: 10px;
      }
    }
  }

  .formfill{
    input, textarea{
      font-size: 20px;
      padding: 9px;
      width: 400px;
    }
  }
}

/* ---------------- SCROLL ANIMATIONS ---------------- */

/* Enable scroll animation */
@supports (animation-timeline: view()) {

  .heromain,
  .briefabout,
  .whyus,
  .realgoals,
  .realvision,
  .whatwedo,
  .maingalleries,
  footer {
    animation: fade-up linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }


  .realvision,
  .whyus {
    animation: fadedown linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }

}

/* --------CARD ANIMATION (REALFLEXVISION) -------- */

@supports (animation-timeline: view()) {

  .realflexvision > * {
    opacity: 0;
    transform: translateY(40px) scale(0.95);

    animation: fade-up linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
  }

  /* Stagger delays */
  .realflexvision > *:nth-child(1) {
    animation-delay: 0.1s;
  }

  .realflexvision > *:nth-child(2) {
    animation-delay: 0.3s;
  }

  .realflexvision > *:nth-child(3) {
    animation-delay: 0.5s;
  }

  .realflexvision > *:nth-child(4) {
    animation-delay: 0.7s;
  }

}

