@import url('https://fonts.googleapis.com/css2?family=Cambo&family=Sen:wght@400..800&display=swap');
/*cambo and sen font urls from google*/

@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
/*instrument sans*/

:root{
  /*colour palette*/ 
  --neautral1: #EDE6DF;
  --burntred: #7E170D;
  --burntcocoa: #372111;
  --honeygold: #D19555;
  --sunlithoney: #ebce79;

  /*fonts*/
  --realmore: "Instrument Sans", sans-serif; 
  --realHeadings: "Cambo", serif;
  --realParagraph: "Sen", sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

/*Animations*/
@keyframes fadedown{
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.8);
    }

    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes dropdown{
    0%{
        transform: translateY(-15px);
    }
    100%{
        ransform: translateY(0px);
    }
}

@keyframes fade-up{ 
  0%{
    opacity: 0;
    transform: translateY(50px) scale(0.9);
  }

  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
/* -------------------------- For all devices --------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
  text-decoration: none;
}

.active{
  text-decoration: underline;
}


hr{
  border: none;
  border-bottom: 1px solid var(--burntcocoa);
  line-height: 0.1em;
}

body {
    background-color: var(--neautral1);
    color: var(--burntcocoa);
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1300px;
    margin: 0 auto;
}

h1{
    font-family: var(--realHeadings);
    color: var(--burntred);
}

p{
    font-family: var(--realParagraph);
    font-weight: 500;
    line-height: 1.5;
}

header{
    padding: 16px;
    animation: fadedown 0.7s;
    position: sticky;
    top: 0;
    background-image: linear-gradient(to bottom, rgb(237, 230, 223), rgb(237, 230, 223), rgba(237, 230, 223, 0.7), rgba(237, 230, 223, 0.1));
    z-index: 9999;
    display: grid;
    justify-content: space-evenly;

    .logoname{
        display: flex;
        align-self: center;
    }
  
    .navbar{
        align-self: center;
        display: flex;
        list-style-type: none;
        justify-content: space-between; 

        li{
            font-family: var(--realParagraph);
            font-weight: 700;
        }

        a{
            color: var(--burntcocoa);
        }
    }
  
    .searchbar{
        display: grid;
        align-self: center;
        grid-template-columns: 1fr;

        input{
            font-family: var(--realParagraph);
        }

        .search-row{
            display: flex;
            grid-column: 1;
            align-items: self-end;
            
            #submitSearch{
                display: none;
            }
        }
    }

}

footer{
    background-color: var(--burntcocoa);
    display: grid;
    grid-template-areas:
    ". . . ."
    ". content content ."
    "credit credit credit credit";

    h3{
        font-family: var(--realHeadings);
    }

    .footercontents{
        grid-area: content;
    }

    .credit{
        grid-area: credit;
        text-align: center;
    }

    .viewothers{
        align-self: center;

        img{
            border: none;
        }
    }

    h3{
        color: var(--honeygold);
    }

    p{
        color: var(--honeygold);
    }

    .mailncall{
        display: grid;
    }

    .contactdivide{
        display: flex;
        align-self: center;
    }

    .footercontents{
        display: flex;
        justify-content: space-between;

        .contactborder{
            border-left: 2px solid var(--honeygold);
            p{
                padding-left: 5px;
            }
        }

        img{
            align-self: center;
        }
    }
}

@media (max-width: 767px){

    li{ /*paragraphs*/
        font-size: 12px;
    }

    .logoname{
        grid-column: 1;

        img{
        width: 144px;
        height: 35px;
        }
    }

    .searchbar{
        grid-column: 2;

        img{
            width: 30px;
            height: 30px;
        }

        input{
            border: 1px solid var(--burntcocoa);
            box-shadow: inset var(--burntcocoa) 1px 1px 2px;
            border-radius: 20px;
            padding: 5px;
            width: 140px;
        }
    }

    .navbar{
        grid-column: 1/3;
        font-size: 13px;
        margin: 10px;
    }

    footer{
        height: 430px;
        grid-template-columns: 5% auto auto 5%;
        grid-template-rows: 15% auto auto;
        border-top-left-radius: 70px;
        border-top-right-radius: 70px;
        background-image: 
        radial-gradient(250px circle at 100% 0%, var(--burntred), var(--burntred), transparent 90%),
        radial-gradient(400px circle at 10% 150%, var(--burntred),var(--burntred), transparent 90%);

        h3{
            font-size: 25px;
        }

        .footercontents{
            img{
                padding-right: 10px;
                align-self: center;
                height: 30px;
            }

            .email{
                width: 40px;
                height: 24px;
            }

            .contactdivide{
                margin: 10px 0;
            }
        }

        .viewothers{
            margin-left: 10px;

            .viewlocation{
                background-color: var(--sunlithoney);
                border-radius: 25px;
                padding: 7px;
                margin: 5px 0;
                text-align: center;
                border: var(--burntred) 1px solid;

                p{
                color: var(--burntred);
                text-decoration: underline;
                }
            }
        }
    }
}

@media (min-width: 768px){

    header{ /*header layout is different from mobile*/
        grid-template-columns: auto auto auto auto;
        grid-template-areas:
        "logo nav nav search";

        li{
            font-size: 15px;
        }

        .logoname{
            grid-area: logo;
            img{
                width: 232px;
                height: 51px;
            }
        }

        .navbar{
            grid-area: nav;
        }

        .searchbar{ /*Searchbar is hidden unless triggered by click*/
            grid-area: search;
            position: relative;

            .search-row{
                img{
                    cursor: pointer;
                }

                #searcharea{
                    width: 0px;
                    overflow: hidden;
                    transition: 0.7s all ease;
                    position: relative;
                    border: none;
                    background-color: var(--neautral1);
                    height: 40px;
                }

                #searcharea.show{
                    font-family: var(--realParagraph);
                    width: 350px;
                    padding: 9px;
                    border: 1px solid var(--burntcocoa);
                    box-shadow: inset var(--burntcocoa) 1px 1px 2px;
                    background-color: #fff;
                    border-radius: 20px;
                }
            }
        }
    }

    footer{
        height: 600px;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        grid-template-columns: 15% auto auto 15%;
        background-image: 
        radial-gradient(500px circle at 100% 30%, rgba(126, 23, 14), rgba(126, 23, 14), transparent 60%),
        radial-gradient(600px circle at 15% 100%, rgba(126, 23, 14),rgba(126, 23, 14),transparent 60%);

        h3{
            font-size: 40px;
            margin-top: 16px;
        }

        .footercontents{
            img{
                margin-right: 10px;
                height: 55px;
            }

            .email{
                width: 55px;
                height: 45px;
            }

            .contactdivide{
                margin: 10px 0;
                p{
                    margin-left: 5px;
                }
            }
        }

        .viewothers{
            margin-left: 16px;

            .viewlocation{
                background-color: var(--sunlithoney);
                border-radius: 20px;
                padding: 7px;
                margin: 5px 0;
                text-align: center;
                border: var(--burntred) 1px solid;

                p{
                    color: var(--burntred);
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (min-width:1024px){
    header{
        .logoname{
            img{
                width: 300px;
                height: 68px;
            }
        }

        .searchbar{
            img{
                height: 40px;
                width: 40px;
            }
        }

        li{
            font-size: 18px;
        }
    }
    
    footer{
        .footercontents{
            img{
                margin-right: 16px;
            }

            .contactdivide{
                margin: 10px 0;
                p{
                    margin-left: 5px;
                }
            }
        }

        .viewothers{
            .viewlocation{
                background-color: var(--sunlithoney);
                border-radius: 50px;
                padding: 10px;
                margin: 10px 0;
                text-align: center;
            }
        }
    }
}

/* -------------------------------------------------------LJ -----------------------------------------------*/

/* ABOUT US SECTION */
.aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;

    .aboutus_header {
        animation: fade-up 0.7s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h3 {
            color: var(--burntcocoa);
            padding: 0 20px;
            font-family: var(--realHeadings);
            font-weight: 400;
        }
        
        img {
            z-index: -9999;
            width: 100%;
            padding: 10px;
            margin-top: 15px;
            border-radius: 15px;
            object-fit: cover;
        }
    }

    .aboutus_product {
        display: grid;
        justify-content: space-between;

        .aboutus_product_header {
            margin: 0 16px;

            h3, h2 {
                color: var(--burntred);
            }

            h2{
                font-family: var(--realHeadings);
                border-right: solid 3px var(--burntcocoa);
                padding-right: 16px;
            }

            h3{ /* our goal text style*/
                font-family: var(--realParagraph);
                font-size: 27px;
                text-align: left; 
                border-bottom: 2px solid var(--burntcocoa); 
                line-height: 0.1em;
                margin: 16px 0 16px;  
                font-weight: 600;
            } 

            h3 span{ 
                background:var(--neautral1); 
                padding: 0 16px;
            }

        }

        .aboutus_product_content {
            display: grid;
            align-items: center;
            justify-content: space-between;
            padding: 16px;
            
            p {
                text-align: justify;
                color: var(--paragraph-color);
            }

            img {
                width: 100%;
                max-width: 300px;
                height: auto;
                object-fit: contain;
            }
        }
    }
}

/* Mobile Styles */
@media (max-width: 600px){
    h1 { 
        font-size: 50px; 
    }

    h2 { 
        font-size: 30px; 
    }

    .aboutus {
        gap: 30px;
    }

    .aboutus_header {
        transform: scale(0.90);

        img{
            width: 500px;
            height: 250px;
        }
    }

    .aboutus_header h3 {
        padding: 0 10px;
    }

    .aboutus_product_header {
        transform: scale(0.90);
        text-align: left;
    }

    .aboutus_product_content {
        transform: scale(0.90);
        grid-template-columns: 1fr;
        gap: 10px;
        
        div{
            display: grid;
            justify-content: center;
        }
    }
}

/* Tablet Styles */
@media (min-width: 601px) and (max-width: 1024px) {

    .aboutus_header {
        transform: scale(0.9);

        h1{
            font-size: 60px;
        }

        h3{
            font-size: 20px;
        }

        img{
            width: 600px;
            height: 500px;
        }
    }

    .aboutus_header h3 {
        padding: 0 30px;
    }

    .aboutus_product {
        transform: scale(0.9);
    }

    .aboutus_product_header{
        display: flex;
        align-items: center;

        h2{
            font-size: 40px;
        }

        h3{
            font-size: 20px;
            margin-left: 10px;
             width: 65%; 
        }
    }

    .aboutus_product_content {
        grid-template-columns: 70% 30%;

        p{
            grid-column: 1;
            width: 400px;
        }

        img{
            grid-column: 2;
        }
    }
}

/* Desktop Styles */
@media (min-width: 1025px) {

    .aboutus{
        margin: 48px;
    }

    .aboutus_header{
        h1 { 
            font-size: 80px; 
        }

        h3{
            font-size: 30px;
        }

        img{
            width: 700px;
            height: 600px;
        }
    }

    p{
      font-size: 17px;
    }

    .aboutus_product{
        margin: 48px 0;
    }

    .aboutus_product_header{
        display: flex;
        align-items: center;

        h2{
            border-right: solid 3px var(--burntcocoa);
            font-family: var(--realHeadings);
            padding-right: 16px;
            font-size: 40px;
        }

        h3{
           width: 65%; 
        }
    }

    .aboutus_product_content {
        grid-template-columns: 70% 30%;

        p{
            width: 600px;
            grid-column: 1;
        }

        img{
            grid-column: 2;
        }
    }
}


/*--------------------------------- prim ------------------------------------------------------------*/
.goal {
  background-color: var(--neautral1);
  padding: 80px 48px;
}

.goal-container {
  margin: auto;
  position: relative;
}
/* HEADER */
.goal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 60px;
}

.goal-header h1 {
  font-family: var(--realHeadings);
  font-size: 50px;
  color: var(--burntred);
  border-right: 3px solid var(--burntcocoa);
  padding-right: 16px;
}

.goal-header h3 {
  font-family: var(--realParagraph);
  font-size: 30px;
  color: var(--burntred);
}


/* CONTENT LAYOUT */
.goal-content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}


/* MISSION + VISION STRUCTURE */
.mission-container,
.vision-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  color: var(--burntred);
}


/* TEXT */
.context {
  color: var(--burntcocoa);
}

.context p {
  text-align: justify;
  max-width: 500px;
  font-size: 18px;
}


/* HEADINGS */
.mission-container h1,
.vision-container h1 {
  font-size: 40px;
  color: var(--burntred);
}


/* MISSION IMAGE */
.mission-container img {
  width: 90%;
  max-width: 500px;
  max-height: 130px;
  border-radius: 20px;
  object-fit: cover;
}


/* VISION CAPSULE GROUP */
.image-grp {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 16px;
}

/* CAPSULE IMAGES */
.image-grp img {
  width: 80px;
  height: 220px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s ease;
}


.image-grp img:nth-child(2),
.image-grp img:nth-child(3){
  transform: none;
}


/* VISION TITLE */
.image-grp h1 {
  margin-left: 16px;
  font-size: 40px;
}

@media (max-width: 600px) {

    .goal {
        padding: 40px 20px;
    }

    /* HERO */
    .goal-header {
        text-align: right;
        flex-direction: column;
    }

    .goal-header h1 {
        font-size: 30px;
    }

    .goal-header h3 {
        font-size: 20px;
        margin: 10px;
    }

    /* KEEP GRID STRUCTURE */
    .mission-container,
    .vision-container {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    /* TEXT */
    .mission-container h1,
    .vision-container h1 {
        font-size: 20px;
    }

    h4, li {
        font-size: 13px;
    }

    .context p {
        font-size: 12px;
        text-align: justify;
    }

    /* IMAGE (MISSION) */
    .mission-container img {
        width: 100%;
        max-width: 200px;
        max-height: 70px;
        border-radius: 10px;
    }

    /* VISION CAPSULES */
    .image-grp {
        gap: 8px;
    }

    .image-grp img {
        width: 40px;
        height: 120px;
        object-fit: cover;
        border-radius: 10px;
    }

    .image-grp h1 {
        font-size: 20px;
        margin-left: 8px;
    }

    .image-grp img:nth-child(2),
    .image-grp img:nth-child(3) {
        transform: none;
    }

    .goal-content {
        gap: 30px;
    }
}
@media (min-width: 600px) and (max-width: 1024px) {

    .goal {
        padding: 60px 30px;
    }

    /* HERO */
    .goal-header h1 {
        font-size: 40px;
        text-align: right;
    }

    .goal-header h3 {
        font-size: 30px;
        margin-left: 15px;
    }

    /* HEADINGS */
    .mission-container h1,
    .vision-container h1 {
        font-size: 40px;
    }

    /* TEXT */
    .context p {
        font-size: 15px;
    }

    /* MISSION IMAGE */
    .mission-container img {
        width: 100%;
        border-radius: 10px;
    }

    /* VISION CAPSULES */
    .image-grp {
        gap: 12px;
    }

    .image-grp img {
        width: 60px;
        height: 160px;
        object-fit: cover;
        border-radius: 20px;
    }

    .image-grp img:nth-child(2),
    .image-grp img:nth-child(3){
    transform: none;
    }

    .goal-content {
        gap: 40px;
    }
}
/* ---------------------------------------------- SASSY ----------------------------------------*/
p{
    font-size: 12px;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 540px;
    padding: 30px;
    align-self: center;
}

/* TITLES */
.title {
    font-family: var(--realHeadings);
    color: var(--burntred);
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    font-size: 13px;
    margin-bottom: 20px;
}

/* ICONS */
.icons {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70px;
    flex-shrink: 0;
}

.icon-box img {
    width: 28px;
    height: 28px;
    object-fit: contain;
    margin-bottom: 5px;
}

.line {
    flex: 1;
    height: 1px;
    background-color: var(--burntred);
    margin: 0 8px;
}

/* FAQ STRUCTURE (controls layout order) */
.faq-section {
    display: flex;
    flex-direction: column;
    font-family: var(--realParagraph);
}

.faq-left { order: 1; }
.faq-right { order: 2; }
.more-faq { order: 3; }

/* FAQ */
.faq-title {
    font-family: var(--realHeadings);
    color: var(--burntred);
    font-size: 25px;
    margin: 25px 0 10px;
    text-align: center;
}

.faq-desc { /*paragraph*/
    font-size: 12px;
    text-align: justify;
    margin-bottom: 15px;
    line-height: 1.5;
}

.faq-item {
    position: relative;
    display: inline-block;
    padding: 12px 0;
}

/* adds a line at the top of EVERY faq item */
.faq-item::before {
    content: ""; /*required to create the pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.5px;
    background-color: var(--burntcocoa);
}

/* targets ONLY the last faq item, then adds a bottom line */
.faq-item:last-child::after {
    content: ""; /* creates the pseudo-element */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /*the width*/
    height: 0.5px;
    background-color: var(--burntcocoa);
}

.faq-question {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 600;
    width: 310px;
    cursor: pointer;
}

.faq-answer, .minus{
    display: none;
    font-size: 12px;
    margin-top: 8px;
    width: 310px;
    line-height: 25px;
}

.faq_show{
    display: block;
    animation: dropdown 0.5s;
}
/*Source - https://stackoverflow.com/a/62272846
Posted by Rene van der Lende, modified by community.*/

.more-faq {
    display: block;
    text-align: center;
    margin: 15px 0;
    color: var(--burntred);
    text-decoration: underline;
    font-size: 13px;
}

/* CONTACT */
.contact-title {
    font-family: var(--realHeadings);
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
}

.input,
.textarea {
    width: 100%;
    border: 1px solid var(--burntcocoa);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 12px;
    font-family: var(--realParagraph);
}

.textarea {
    height: 100px;
    resize: none;
}

.submit {
    background: none;
    border: none;
    color: var(--burntred);
    font-family: var(--realParagraph);
    float: right;
    font-size: 13px;
    cursor: pointer;
    text-decoration: underline;
}

@media(max-width: 539px){
    .faq-right{
        display: grid;
        justify-content: center;
    }
}

/* Tablet version (540px-1024px) */
/*(changed from 768px to 540px para smoother resizing after phone section)*/
@media (min-width: 540px) and (max-width: 1023px){
    p{
        font-size: 16px;
    }

    .container {
        max-width: 1024px;
        padding: 32px;
    }  

    .title {
        font-size: 35px;
    }

    .subtitle {
        font-size: 16px;
        margin-bottom: 25px;
    }

    /* ICONS */
    .icons {
        margin-bottom: 35px;
    }

    .icon-box {
        width: 90px;
    }

    .icon-box img {
        width: 34px;
        height: 34px;
    }

    .line {
        height: 1.5px;
        margin: 0 10px;
    }

    /* FAQ */
    .faq-title {
        font-size: 30px;
        margin: 30px 0 10px;
    }

    .faq-right{    
        display: grid;
        justify-content: center;
    }

    .faq-desc {
        font-size: 14px;
        text-align: center;
        line-height: 1.6;
        margin-bottom: 25px;
        padding: 0 25px;
    }

    .faq-item {
        padding: 15px 25px;
    }

    .faq-item::before {
        left: 25px;
        width: calc(100% - 50px);
    }

    .faq-item:last-child::after {
        left: 25px;
        width: calc(100% - 50px);
    }

    .faq-question {
        font-size: 16px;
        width: 500px;
    }

    .faq-answer {
        font-size: 14px;
        width: 500px;
    }

    .more-faq {
        font-size: 16px;
        margin: 20px 0;
    }

    /* CONTACT */
    .contact-title {
        font-size: 22px;
        margin: 30px 0 15px;
    }

    .input,
    .textarea {
        border-radius: 12px;
        padding: 12px;
        font-size: 14px;
    }

    .textarea {
        height: 120px;
    }

    .submit {
        font-size: 15px;
    }
}

/* Desktop version (min-width:1024px) */
@media (min-width: 1024px){
    p{
        font-size: 19px;
    }

    .container {
        max-width: 1200px;
        padding: 50px 60px;
    }

    .title {
        font-size: 42px;
    }

    .subtitle {
        font-size: 18px;
        margin-bottom: 35px;
    }

    .icons {
        margin-bottom: 60px;
    }

    .icon-box {
        width: 120px;
    }

    .icon-box img {
        width: 42px;
        height: 42px;
    }

    .line {
        height: 2px;
        margin: 0 14px;
    }

    /* FAQ (2-column layout) */
    .faq-section {
        flex-direction: row;
        justify-content: space-between;
        gap: 60px;
    }

    .faq-left {
        width: 42%;
        display: flex;
        flex-direction: column;
    }

    .faq-right {
        width: 58%;
    }

    .faq-title {
        font-size: 40px;
        text-align: left;
    }

    .faq-desc {
        font-size: 16px;
        text-align: justify;
        line-height: 1.7;
        padding: 0;
    }

    /* reset order for desktop */
    .faq-left { order: 0; }
    .faq-right { order: 0; }
    .more-faq { order: 0; }

    .more-faq {
        text-align: left;
        margin-top: 20px;
    }

    .faq-item {
        padding: 18px 0;
    }

    .faq-item::before {
        left: 0;
        width: 100%;
        height: 0.5px;
    }

    .faq-item:last-child::after {
        left: 0;
        width: 100%;
        height: 0.5px;
    }

    .faq-question {
        font-size: 17px;
        width: 530px;
    }

    .faq-answer {
        font-size: 15px;
        width: 530px;
    }

    /* hide contact form on desktop */
    .contact-title,
    .input,
    .textarea,
    .submit {
        display: none;
    }
}


/* ---------------- GLOBAL SCROLL ANIMATIONS ---------------- */

@supports (animation-timeline: view()) {

  /* SECTION REVEAL (generic safety layer) */
  .aboutus_header,
  .aboutus_product_header,
  .aboutus_product_content,
  .mission-container,
  .vision-container,
  .goal-header,
  .goal-content > div {
    
    animation: fade-up linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;

    opacity: 1; 
  }


  /*TEXT VARIATION */
  .aboutus_product_header h2,
  .aboutus_product_header h3,
  .goal-header h1,
  .goal-header h3 {
    animation: fadedown linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
  }


  /* IMAGES */
  .aboutus_header img,
  .mission-container img,
  .aboutus_product_content img {

    animation: fade-up linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;

    opacity: 1; /* CRITICAL FIX */
    transform: scale(1);
  }


  /* VISION CAPSULES*/
  .image-grp {
    animation: fade-up linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }

  .image-grp img {
    animation: fade-up linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }


  .image-grp img:nth-child(1) {
    animation-delay: 0.05s;
  }

  .image-grp img:nth-child(2) {
    animation-delay: 0.15s;
  }

  .image-grp img:nth-child(3) {
    animation-delay: 0.25s;
  }


  /* FAQ SECTION */
  .faq-section {
    animation: fade-up linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
  }


  /* FOOTER */
  footer {
    animation: fadedown linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
  }

}